@using MyCollege.Helpers;
@model List<string>
@{
    ViewBag.Message = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Gallery</h2>
        </div>
        @foreach (var item in Model)
        {
            var filename = item + ".jpg";
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="~/assets/img/portfolio/@filename" class="thumbnail">
                    <p>@item</p>
                    @*<img src="~/assets/img/portfolio/@filename" class="img-thumbnail" style="width:200px;height:200px;" />*@
                    @Html.Image(String.Format("/assets/img/portfolio/{0}", @filename), "title", "img-thumbnail", "width:200px;height:200px;")
                </a>
            </div>
        }

    </div>
</div>

