@using MyCollege.Common;
@using MyCollege.Models;
@model List<NotificationMessage>

@helper ImgInlineHelper(string src, string alt)
{
    <img src='@src' alt='@alt'>
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:350px;">

        @for (int i = 0; i < Model.Count; i++)
        {
            var filename = MyCollegeConstants.slideImgPath + Model[i].FileName ;
            if (i == 0)
            {
                <div class="item active">
                    @ImgInlineHelper(filename, Model[i].Description)
                </div>
            }
            else
            {
                <div class="item">
                    @ImgInlineHelper(filename, Model[i].Description)
                </div>
            }
        }

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" style="margin-top:10px;">
    <div class="row col-lg-12">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Prinicipal's Corner</h4></div>
                <div class="panel-body">
                    <p>
                        <span>
                            TESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FAS
                        </span>
                        <img class="img-thumbnail" style="height:150px; width:150px;" src="~/assets/img/team/team-1.jpg" />

                    </p>
                    <span class="text-info">Mr. Principal</span>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Directors's Message</h4></div>
                <div class="panel-body">
                    <p>
                        <span>
                            TESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FASTESTE SATFD AFSDF AA AF AF AFSD asf FDA  AF FAS
                        </span>
                        <img class="img-thumbnail" style="height:150px; width:150px;" src="~/assets/img/team/team-2.jpg" />

                    </p>
                    <span class="text-info">Mrs. Director</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-6">
            @{Html.RenderAction("Notifications", "Home", new { notificationType = MyCollegeConstants.NotificationType });}
        </div>

        <div class="col-lg-6">
            @{Html.RenderAction("Notifications", "Home", new { notificationType = MyCollegeConstants.DownloadType });}
        </div>
    </div>

</div>





